# .gitignore racine (Medisys)

# Ignorer les dépendances et fichiers générés du backend
/backend/var/
/backend/vendor/
/backend/.phpunit.cache/
/backend/.env.local
/backend/.env
/backend/.env.*
/backend/.vscode/
/backend/.editorconfig
/backend/.gitignore

# Ignorer les dépendances et fichiers générés du frontend
/frontend/node_modules/
/frontend/dist/

# Fichiers temporaires globaux
*.log
.DS_Store
Thumbs.db

# Ignorer les fichiers de configuration d'IDE
.idea/
*.iml

# Docker et scripts sensibles
init.sql
docker/mysql/init.sql

# Docker
**/.docker/
